.
..
AND_refined.csv
backup
bibliography.bib
cache
check_pools.R
check_splits.R
Code_for_finding_pools_and_splits.R
complete_dataset_ANDED.rds
complete_dataset_ANDED_refined.csv
complete_dataset.bib
complete_dataset.RData
complete_dataset.xlsx
data
dataset_ANDED_for_biblioshiny.rds
df_for_review_check.R
doc
elsarticle
elsarticle.dtx
elsarticle-harv.bst
elsarticle.ins
elsarticle-num.bst
elsarticle-num-names.bst
elsarticle-template.zip
Field_Tags_bibliometrix.pdf
figure
Filtered_DataTable_SAF.csv
Filtered_DataTable_SAF.ods
.git
.gitignore
.gitignore~
HISTORY.txt
LICENCE
LICENSE.txt
.~lock.complete_dataset_ANDED_refined.csv#
main.bbl
main-concordance.tex
main.log
main.pdf
main.run.xml
main.spl
main.synctex.gz
main.tex
manifest.txt
manual_bibliometrix.onSbKej2.pdf.part
manual_bibliometrix.pdf
Manual_VOSviewer_1.6.18.pdf
M.csv
.RData
README
recreate_ANDED_DB.py.old
refsplitr_simplify_authors_review
results.ods
.Rhistory
scopus_DB_ANDed.csv
starter.R
test.R
vosnetwork.net
VOSviewer.jar
word_cloud.R
WOS_dataset
