AND_refined.csv
bib_analysis.R.old
check_pools.R
check_splits.R
Code_for_finding_pools_and_splits.R
complete_dataset_ANDED.RData
complete_dataset_ANDED_refined.csv
complete_dataset.bib
complete_dataset.RData
complete_dataset.xlsx
data
dataset_ANDED_for_biblioshiny.rds
df_for_review_check.R
Filtered_DataTable_SAF.csv
Filtered_DataTable_SAF.ods
HISTORY.txt
LICENSE.txt
manual_bibliometrix.onSbKej2.pdf.part
manual_bibliometrix.pdf
Manual_VOSviewer_1.6.18.pdf
M.csv
refsplitr_simplify_authors_review
results.ods
scopus_DB_ANDed.csv
vosnetwork.net
VOSviewer.jar
WOS_dataset
